

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://pikwizard.com/photos/business-people-in-office--40aa44c416588c39cf4b182667c18d19-m.jpg">
        <h1>dapps</h1>
        <p>finanzas con block chain</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://pikwizard.com/photos/cent-coins-euro-finance--aed5b48359244706bdd4bab4172d4b82-m.jpg">
        <h1>forex</h1>
        <p>mejornado probabilidades</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>
